.client-table, .client-table th, .client-table td{
    border: 1px solid black;
}

.defaultInput{
    border: 1px inset;
    height: 110%;
    width: 100%;
    border-radius: 0px;
}

.editInput{
    border: 1px solid orange;
    height: 110%;
    width: 100%;
    border-radius: 0px;
}
